@base {
  /* body {
       font-family: 'Roboto', 'Nirmala UI', sans-serif;
    } */
  /* the above approach dos'nt work as Skeleton UI overrides these behaviours */
}

[data-theme='wintry'] {
  --heading-font-family: 'Roboto', 'Nirmala UI', sans-serif;
  --base-font-family: 'Roboto', 'Nirmala UI', sans-serif;
  --anchor-font-family: 'inherit';
}
