@base {
  /* body {
       font-family: 'Roboto', 'Nirmala UI', sans-serif;
    } */
  /* the above approach dos'nt work as Skeleton UI overrides these behaviours */
}

:root [data-theme='wintry'] {
  --base-font-family: 'Roboto', 'Nirmala UI', sans-serif;
  --heading-font-family: 'Roboto', 'Nirmala UI', sans-serif;
}
